## Intermediate SQL Topic: SQL JOINs

SQL JOINs are used to combine rows from two or more tables based on a related column between them. They are fundamental for retrieving meaningful information from a relational database, where data is often spread across multiple tables to ensure normalization and avoid redundancy.

Let's assume we have two tables:

**Table 1: `Employees`**
| EmployeeID | Name    | DepartmentID |
|------------|---------|--------------|
| 1          | Alice   | 101          |
| 2          | Bob     | 102          |
| 3          | Charlie | 101          |
| 4          | David   | NULL         |

**Table 2: `Departments`**
| DepartmentID | DepartmentName |
|--------------|----------------|
| 101          | Sales          |
| 102          | Marketing      |
| 103          | HR             |

### 1. `INNER JOIN`
Returns rows when there is a match in **both** tables. Records that do not have a match in both tables are excluded.

**Syntax:**
```sql
SELECT columns
FROM table1
INNER JOIN table2
ON table1.column_name = table2.column_name;
```

**Example:** Get employee names and their department names.
```sql
SELECT E.Name, D.DepartmentName
FROM Employees AS E
INNER JOIN Departments AS D
ON E.DepartmentID = D.DepartmentID;
```
**Result:**
| Name    | DepartmentName |
|---------|----------------|
| Alice   | Sales          |
| Bob     | Marketing      |
| Charlie | Sales          |

### 2. `LEFT JOIN` (or `LEFT OUTER JOIN`)
Returns all rows from the **left table**, and the matching rows from the right table. If there is no match, the columns from the right table will have `NULL` values.

**Syntax:**
```sql
SELECT columns
FROM table1
LEFT JOIN table2
ON table1.column_name = table2.column_name;
```

**Example:** Get all employees and their department names (if any).
```sql
SELECT E.Name, D.DepartmentName
FROM Employees AS E
LEFT JOIN Departments AS D
ON E.DepartmentID = D.DepartmentID;
```
**Result:**
| Name    | DepartmentName |
|---------|----------------|
| Alice   | Sales          |
| Bob     | Marketing      |
| Charlie | Sales          |
| David   | NULL           |

### 3. `RIGHT JOIN` (or `RIGHT OUTER JOIN`)
Returns all rows from the **right table**, and the matching rows from the left table. If there is no match, the columns from the left table will have `NULL` values.

**Syntax:**
```sql
SELECT columns
FROM table1
RIGHT JOIN table2
ON table1.column_name = table2.column_name;
```

**Example:** Get all departments and the names of employees in them (if any).
```sql
SELECT E.Name, D.DepartmentName
FROM Employees AS E
RIGHT JOIN Departments AS D
ON E.DepartmentID = D.DepartmentID;
```
**Result:**
| Name    | DepartmentName |
|---------|----------------|
| Alice   | Sales          |
| Bob     | Marketing      |
| Charlie | Sales          |
| NULL    | HR             |

### 4. `FULL JOIN` (or `FULL OUTER JOIN`)
Returns all rows when there is a match in one of the tables. It combines the results of both `LEFT JOIN` and `RIGHT JOIN`. If there is no match, `NULL` is used for columns from the table without a match.

**Syntax:**
```sql
SELECT columns
FROM table1
FULL JOIN table2
ON table1.column_name = table2.column_name;
```

**Example:** Get all employees and all departments, matching them where possible.
```sql
SELECT E.Name, D.DepartmentName
FROM Employees AS E
FULL JOIN Departments AS D
ON E.DepartmentID = D.DepartmentID;
```
**Result:**
| Name    | DepartmentName |
|---------|----------------|
| Alice   | Sales          |
| Bob     | Marketing      |
| Charlie | Sales          |
| David   | NULL           |
| NULL    | HR             |

Understanding and effectively using different types of JOINs is critical for extracting comprehensive insights from relational databases.

SQL commands are broadly categorized to manage different aspects of a database. The three main categories are Data Definition Language (DDL), Data Manipulation Language (DML), and Transaction Control Language (TCL).

### Data Definition Language (DDL)
DDL commands are used to define, modify, or drop the structure of database objects (like tables, databases, indexes, etc.). They deal with the schema or blueprint of the database. When a DDL command is executed, it automatically commits the changes to the database.

**Common DDL Commands:**
*   **`CREATE`**: Used to create database objects (e.g., `CREATE DATABASE`, `CREATE TABLE`, `CREATE INDEX`).
    ```sql
    CREATE TABLE Products (
        ProductID INT PRIMARY KEY,
        ProductName VARCHAR(255),
        Price DECIMAL(10, 2)
    );
    ```
*   **`ALTER`**: Used to modify the structure of an existing database object (e.g., `ALTER TABLE` to add, delete, or modify columns).
    ```sql
    ALTER TABLE Products
    ADD COLUMN Category VARCHAR(100);
    ```
*   **`DROP`**: Used to delete database objects (e.g., `DROP TABLE`, `DROP DATABASE`, `DROP INDEX`).
    ```sql
    DROP TABLE Products;
    ```
*   **`TRUNCATE`**: Used to remove all records from a table, including space allocated for the records. It's faster than `DELETE` for removing all rows and cannot be rolled back.
    ```sql
    TRUNCATE TABLE Products;
    ```
*   **`RENAME`**: Used to rename a database object.
    ```sql
    ALTER TABLE Products RENAME TO Items;
    ```

### Data Manipulation Language (DML)
DML commands are used to interact with and manage the data stored within the database objects. These commands do not implicitly commit changes, allowing for transactions that can be rolled back.

**Common DML Commands:**
*   **`SELECT`**: Used to retrieve data from one or more tables.
    ```sql
    SELECT ProductName, Price
    FROM Products
    WHERE Price > 50.00;
    ```
*   **`INSERT`**: Used to add new rows of data into a table.
    ```sql
    INSERT INTO Products (ProductID, ProductName, Price)
    VALUES (1, 'Laptop', 1200.00);
    ```
*   **`UPDATE`**: Used to modify existing data in a table.
    ```sql
    UPDATE Products
    SET Price = 1250.00
    WHERE ProductID = 1;
    ```
*   **`DELETE`**: Used to remove one or more rows of data from a table.
    ```sql
    DELETE FROM Products
    WHERE ProductID = 1;
    ```

### Transaction Control Language (TCL)
TCL commands are used to manage transactions within a database. A transaction is a sequence of operations performed as a single logical unit of work. TCL commands allow you to control and manage the changes made by DML statements.

**Common TCL Commands:**
*   **`COMMIT`**: Used to save the changes made during the current transaction to the database permanently.
    ```sql
    COMMIT;
    ```
*   **`ROLLBACK`**: Used to undo the changes made during the current transaction. This restores the database to the state it was in before the transaction began.
    ```sql
    ROLLBACK;
    ```
*   **`SAVEPOINT`**: Used to set a point within a transaction to which you can later roll back. This allows for partial rollbacks.
    ```sql
    SAVEPOINT my_savepoint;
    -- Some DML operations
    ROLLBACK TO SAVEPOINT my_savepoint;
    ```

Understanding these categories helps in comprehending the purpose and impact of various SQL commands on your database.

SQL data types categorize the kind of data that can be stored in a table column, ensuring data integrity and optimizing storage.

Here are some of the most common SQL data types:

### Numeric Data Types

*   **`INT`** (Integer): Stores whole numbers (e.g., `1`, `100`, `-5`).
*   **`SMALLINT`**: Stores smaller whole numbers.
*   **`BIGINT`**: Stores larger whole numbers.
*   **`DECIMAL(p, s)`** or **`NUMERIC(p, s)`**: Stores exact numeric values with a fixed precision (`p` is the total number of digits, `s` is the number of digits after the decimal point). Useful for financial data.
*   **`FLOAT`** or **`REAL`**: Stores approximate floating-point numbers. Use with caution for precise calculations due to potential rounding issues.
*   **`DOUBLE PRECISION`**: Similar to `FLOAT` but with higher precision.

### String Data Types

*   **`VARCHAR(n)`** (Variable Character): Stores strings of varying length, up to a maximum of `n` characters. It's space-efficient as it only uses storage for the actual length of the string.
*   **`CHAR(n)`** (Fixed Character): Stores strings of a fixed length `n`. If a string is shorter than `n`, it's padded with spaces. Generally less common than `VARCHAR` unless you have consistently fixed-length data.
*   **`TEXT`**: Stores long strings of text. The maximum length can vary by database system.

### Date and Time Data Types

*   **`DATE`**: Stores a date (e.g., `YYYY-MM-DD`).
*   **`TIME`**: Stores a time of day (e.g., `HH:MM:SS`).
*   **`DATETIME`** or **`TIMESTAMP`**: Stores both date and time (e.g., `YYYY-MM-DD HH:MM:SS`). `TIMESTAMP` often includes timezone information or tracks when a record was last modified.

### Boolean Data Types

*   **`BOOLEAN`** or **`BIT`**: Stores `TRUE` or `FALSE` values. Some databases might use `0` for `FALSE` and `1` for `TRUE`.

### Other Data Types

*   **`BLOB`** (Binary Large Object): Stores binary data such as images, audio, or other files.
*   **`UUID`** (Universally Unique Identifier): Stores a 128-bit number used to uniquely identify information in computer systems.

Choosing the correct data type is crucial for database performance, storage efficiency, and data validation.

SQL, which stands for **Structured Query Language**, is a powerful and widely used programming language designed for managing and querying relational databases. It's essential for anyone working with data, as it allows you to:

*   **Create and modify database structures:** Define tables, relationships, and constraints.
*   **Insert, update, and delete data:** Manage the information stored in your database.
*   **Retrieve specific data:** Extract the information you need using various filtering and sorting techniques.
*   **Analyze and report on data:** Perform aggregations and join data from multiple tables to gain insights.

Here's a simple example of a SQL query to retrieve data from a table:

In [ ]:
import pandas as pd
from pandasql import sqldf

# Create a sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [24, 27, 22, 32],
    'City': ['New York', 'Los Angeles', 'Chicago', 'New York']
}
df = pd.DataFrame(data)

# Define a SQL query
query = """
SELECT Name, City
FROM df
WHERE Age > 25
"""

# Execute the SQL query using pandasql
result = sqldf(query, globals())

print("Original DataFrame:")
display(df)
print("\nResult of the SQL query:")
display(result)